<%- include ("../partials/header") %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit <%= memory.name %></h1>
        <div style="width: 30%; margin: 30px auto">
            <form action="/memories/<%= memory._id %>?_method=PUT" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="memory[name]" value="<%= memory.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="date" name="memory[date]" value="<%= memory.date %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="memory[image]" value="<%= memory.image %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="memory[description]"
                           value="<%= memory.description %>">
                </div>
                <form-group>
                    <button class="btn btn-primary btn-lg btn-default btn-block">Submit!</button>
                </form-group>
            </form>
            <a href="/memories">Go back</a>
        </div>
    </div>
</div>
<%- include ("../partials/footer") %>
